<header> 
    <nav class= "menu"> 
        <a href="https://www.maccosmetics.com.br/">MAC COSMETICS</a>
        <a href="https://www.maccosmetics.com.br/maisvendidos">MAIS VENDIDOS</a>
        <a href="https://www.maccosmetics.com.br/stores">LOJAS</a>
        <a href="#">MEUS CONTATOS</a>
        <a href="https://www.maccosmetics.com.br/our-story">NOSSA HISTÓRIA</a>
        <a href="https://www.maccosmetics.com.br/makeup-services">SERVIÇOS</a>
        
    </nav>
    <img src="imagem/logo.png" alt="meu logo">
</header>

