h1 {
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 60px;

  
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

header img {
    width: 10vw;
    margin-right: 10px;
    padding: 5px;


}

.menu a{
    text-decoration: nome;
    color: #FBEFF2 ;
    font-size: 14pt;
    margin-left: 15px;
    

    
}

aside{
    display: flex;
    align-items: center;
    justify-content: space-around;

}


.text , h2 , p {
    font-family: 'Volkhov', serif;
    padding: 10px;
    margin: 20px 10px 0px 10px;    /* top right bottom left */
    color: #1C1C1C;
       
}

.text h3 , h4  {
    font-family: 'Volkhov', serif;

}

.receita{
    font-family: 'Volkhov', serif;
    font-size: 11pt;
    color: black;
    line-height: 20px;
    letter-spacing: 1px;
    margin-left: 15px;
    margin-top: 10px;
    
}


#batom {
    display: flex;
    float: left;
    justify-content: space-between;
    height: 315px;
    width: 560px;
}

#video{
    justify-content: space-between;
    float: right;
         
}

.rodape{
    display: flex;
justify-content: center;
    width: 200px;
    height:80px;
    
    border-radius: 10px;
    
}


body{
    background-color: #CED8F6  ;
}