<!DOCTYPE html>
<html lang="pt-br--"> 
    <%- include ('shared/head') %>



<body>
        <%- include ('shared/header') %>
    <h1>Make-up Art Cosmetics MAC </h1>
    <aside> 
        <h2>
            MATTES 
        </h2>
        <p>PRODUTOS INCRÍVEIS PARA O EFEITO MATTE PERFEITO. <br>
            Defina o padrão para a perfeição matte - mesmo no calor do verão. A Bruma de Hidratação é
            instantaneamente matifica, enquanto fixa a maquiagem. O novo Redutor de Poros 
            Prep+Prime é ideal perfeição instantânea em qualquer lugar. Nosso Matificante M·A·C Matte
             age como um pó controlador de brilho, criando um acabamento aveludado em uma camada 
              hidratante leve que pode ser aplicada sobre a pele limpa ou maquiada. </p>
    </aside>
    <section calss="receita"> 
    <h2>
            PASSO Á PASSO DE COMO APLICAR NOSSOS PRODUTOS
        </h2>
        <ol>  <h3>
            <li>Passe a base</li>
            <li>Passe o corretivo</li>
            <li>Passe o pó</li>
            <li>Passe a sombra</li>
            <li>Passe o rímel</li>
            <li>Passe o batom</li>
            </h3> 

        </ol>

    </section>
    <section>
        
        <h4>
            USE OS PRODUTOS DA MAC PARA UM MAIOR SUCESSO EM SUA MAQUIAGEM!<br>
            <br>

        </h4>
        <div>
            <p class="legenda">BATONS MAC CORES VARIADAS</p>
            <img id="batom" src="imagem/batom.jpg" alt="Três batons de cores diferentes">
        </div>
        <div id="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/gd67FRMAfzY?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </section> 

    <footer class="rodape"> 
        <button>CADASTRE-SE</button>
    
    </footer>
</body>
</html>
